#header {
    height: 230px;
    background-image: url(../images/header1.jpg);
    background-repeat: no-repeat;
    font-family: 'Shift', sans-serif;
}
#header h2 {    
    font-size: 4em;
    position: relative;
    top: 30px;
    left: 550px;
    display: inline;
}
#header p {
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    top: 50px;
    left: 60px;
    display: inline
}    
#menu {
    position: relative;
    top: 100px;
    left: 340px;
    display: inline-block;
}
#menu li{
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}
#menu input {
    font-size: 0.7em;
    text-transform: lowercase;
    text-align: right;
    position: relative;
    top: -4px;
}
#green {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    float: left;
    margin: 5px;
}
#red {
    width: 100px;
    height: 200px;
    border: 1px solid red;
    margin: 5px;
    float: left;
}
#blue {
    width: 310px;
    height: 100px;
    border: 1px solid blue;
    margin: 5px;
    clear: both;
}
#main-content {
    width: 780px;
    float: left;
}
#news {
    margin-left: 20px;
    float: left;
    width: 180px;
}
#boxoffice {
    width: 780px;
    height: 500px;
    background-image: url(../images/box_office_cropped.jpg);
    background-repeat: cover;
    border-radius: 5px;
    padding: 20px;
}

