<menu>
	<category name = "Pizzas" img="images/pizzas.png">
		<item name = "Tomato & Cheese">
			<type size = "small" price=5.50></type>				
			<type size = "large" price=9.75></type>
			</size>
		</item>
		<item name = "Onions">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.85></type>
			</size>
		</item>
		<item name = "Peppers">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.85></type>
		</item>
		<item name = "Broccoli">
			<type size = "small" price=8.85></type>
			<type value = "large" price=10.85></type>
		</item>
		<item name = "Fresh Garlic">
			<type size = "small" price=6.85></type>
			<type value = "large" price=10.75></type>
		</item>
		<item name = "Anchovies">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Hamburg">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Pepperoni">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Sausage">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Meatball">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Bacon">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Ham">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Olives">
			<type size = "small" price=6.85></type>
			<type size = "large" price=10.75></type>
		</item>
		<item name = "Grilled Chicken">
			<type size = "small" price=7.95></type>
			<type size = "large" price=11.80></type>
		</item>
		<item name = "Hawaiian">
			<type value = "small" price=7.95></type>
			<type value = "large" price=11.80></type>
		</item>
		<item name = "2-way Combo">
			<type size = "small" price=7.95></type>
			<type size = "large" price=11.80></type>
		</item>
		<item name = "3-way Combo">
			<type size = "small" price=8.90></type>
			<size value = "large">
				<price>12.80</price>
			</size>
		</item>
		<item name = "Three Aces Special">
			<type size = "small" price=9.80></type>
			<type size = "large" price=15.80></type>
		</item>
		<item name = "Mediterranean">
			<type size = "small" price=9.80></type>
			<type size = "large" price=15.80></type>
		</item>
		<item name = "Vegetarian">
			<type size = "small" price=9.80></type>
			<type size = "large" price=15.80></type>
		</item>
		<item name = "Meat Lovers">
			<type size = "small" price=9.80></type>
			<type size = "large" price=15.80></type>
		</item>
		<item name = "Bbq Grilled Chicken">
			<type size = "small" price=9.80></type>
			<type size = "large" price=15.80></type>
		</item>
		<item name = "Grecian Supereme">
			<type size = "small" price=9.80></type>
			<type size = "large" price=15.80></type>
		</item>
		<extraCheese>
			<type size = "none" prize=0.0></type>
			<type size = "small" prize=1.25></type>
			<type size = "large" prize=1.85></type>
		</extraCheese>
	</category>	
	<category name="Special Dinners" img="images/dinner.jpeg>
		<item name="Chicken Wing Dinner" price=7.25></item>
		<item name="Gyro Plate" price=7.25></item>
		<item name="Chicken Finger Plate" price=7.25></item>
		<item name="3 Piece Chicken Dinner" price=7.25></item>
		<item name="Cheeseburger" price=5.25></item>
		<item name="Cheese Burger Plate" price=5.25></item>
		<item name="Double-cheeseburger Plate" price=5.75></item>
		<item name="Chicken Kabob Plate" price=7.85></item>
		<item name="Steak Tips Dinner" price=8.25></item>
		<item name="Fish and Chips Dinner" price=7.35></item>
	</category>
	<category name = "Side Orders" img="images/sides.png>
		<item name = "Onion Rings">
			<type size = "small" price=2.60></type>
			<type size = "large" price=2.95></type>
		</item>
		<item name = "French Fries">
			<type size = "small" price=2.25></type>
			<type value = "large" price=2.65></type>
		</item>
		<item name = "Spicy Fries">
			<type size = "small" price=2.60></type>
			<type size = "large" price=2.95></type>
		</item>
		<item name="Chicken Wings" price=5.75></item>
		<item name="Buffalo Wings" price=5.75></item>
		<item name="Chicken Fingers" price=5.75></item>
		<item name="Mozzarella Sticks" price=4.50></item>
		<item name="Slice Cheese Pizza" price=1.65></item>
		<item name="Slice Pepperoni Pizza" price=1.85></item>
		<item name="Home made Spinach Pie" price=3.10></item>
		<item name="Buffalo Fingers" price=5.75></item>
		<item name="Chicken Burger" price=2.75></item>
		<item name="Cheese Burger" price=2.75></item>
		<item name="Spanakopita" price=3.25></item>
	</category name = "Salads" img="images/salads.jpeg>
		<item name = "Garden">
			<type size="small" price=3.50></type>
			<type size="large" price=4.50></type>
		</item>
		<item name = "Greek">
			<type size="small" price=4.50></type>
			<type size="large" price=5.50></type>
		</item>
		<item name = "Antipasto">
			<type size="small" price=4.50></type>
			<type size="large" price=5.50></type>
		</item>
		<item name = "Chef">
			<type size="small" price=4.50></type>
			<type size="large" price=5.50></type>
		</item>
		<item name = "Tuna">
			<type size="small" price=4.50></type>
			<type size="large" price=5.50></type>
		</item>
		<item name = "Grilled Chicken">
			<type size="small" price=4.95></type>
			<type size="large" price=5.95></type>
		</item>
		<item name = "Kabob Salad">
			<type size="small" price=5.45></type>
			<type size="large" price=6.45></type>
		</item>
	<catergory name="Spaghetti or Ziti">
		<item type="Sauce" price=5.40></item>
		<item type="Sausage" price=6.45></item>
		<item type="Meatball" price=6.45></item>
		<item type="Veal" price=6.45></item>
		<item type="Chicken Cutlet" price=6.45></item>
		<item type="Mushrooms" price=6.45></item>
		<item type="Ala Three Aces" price=7.25></item>
		<item type="Eggplant Spaghetti" price=7.25></item>
		<item type="Ziti Dinner" price=7.25></item>
	</catergory>
	<catergory name="Homemade Calzones" prize=7.35>
		<item name="Vegetarian"></item>
		<item name="Sausage"></item>
		<item name="Ham & Cheese"></item>
		<item name="Chicken Cutlet"></item>
		<item name="Grilled Chicken"></item>
		<item name="Meatball"></item>
		<item name="Grecian"></item>
		<item name="Veal"></item>
		<item name="Eggplant"></item>
		<item name="Steak"></item>
		<item name="Italian"></item>
		<item name="Grecian"></item>
	</catergory>
	<catergory name = "Wraps" price=4.95>
		<item name="Turkey Club"></item>
		<item name="Chicken Cobb"></item>
		<item name="Greek Supreme"></item>
		<item name="Crispy Chicken"></item>
		<item name="Steak"></item>
	</catergory>
	<catergory name="Grinders">
		<item name = "Meatless">
			<type size="small" price=4.50></type>
			<type size="large" price=4.95></type>
		</item>
		<item name = "Hamburger">
			<type size="small" price=4.50></type>
			<type size="large" price=4.95></type>
		</item>
		<item name = "Cheeseburger">
			<type size="small" price=4.50></type>
			<type size="large" price=4.95></type>
		</item>
		<item name = "Meatball">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Meatball">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Sausage">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Amerian">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Veal Cutlet">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Hot Pastrami">
			<type size="small" price=4.95></type>
			<type size="large" price=5.95></type>
		</item>
		<item name = "Italian">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Genoa Salami">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Ham">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Tuna">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Roat Beef">
			<type size="small" price=4.95></type>
			<type size="large" price=5.95></type>
		</item>
		<item name = "B.l.t">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Sliced Turkey">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Three Aces Special">
			<type size="small" price=5.30></type>
			<type size="large" price=6.40></type>
		</item>
		<item name = "Cheese Steak">
			<type size="small" price=5.10></type>
			<type size="large" price=6.0></type>
		</item>
		<item name = "Onion Steak">
			<type size="small" price=5.20></type>
			<type size="large" price=6.20></type>
		</item>
		<item name = "Pepper Steak">
			<type size="small" price=5.20></type>
			<type size="large" price=6.20></type>
		</item>
		<item name = "Meatball">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Mushroom Steak">
			<type size="small" price=5.20></type>
			<type size="large" price=6.20></type>
		</item>
		<item name = "Special Steak">
			<type size="small" price=5.40></type>
			<type size="large" price=6.40></type>
		</item>
		<item name = "Steak Bomb">
			<type size="small" price=5.50></type>
			<type size="large" price=6.40></type>
		</item>
		<item name = "Pepper & Egg">
			<type size="small" price=4.50></type>
			<type size="large" price=4.95></type>
		</item>
		<item name = "Ham & Egg">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Steak & Egg">
			<type size="small" price=5.60></type>
			<type size="large" price=6.50></type>
		</item>
		<item name = "Bacon & Egg">
			<type size="small" price=5.30></type>
			<type size="large" price=6.40></type>
		</item>
		<item name = "Chicken Cutlet">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Eggplant & Cheese">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Gyro on Pita" price=5.50></item>
		<item name = "Grilled Chicken on Pita" price=5.25></item>
		<item name = "Grilled Chicken Delight">
			<type size="small" price=4.75></type>
			<type size="large" price=5.75></type>
		</item>
		<item name = "Grilled Chicken Sub">
			<type size="small" price=5.25></type>
			<type size="large" price=5.85></type>
		</item>
		<item name = "Chicken Finger Sub">
			<type size="small" price=4.60></type>
			<type size="large" price=5.60></type>
		</item>
	</catergory>	
</menu>
